<nav class="navbar navbar-expand-lg bg-body-secondary shadow-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-3 text-primary fs-5" href="/">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 text-primary fs-5" href="/new_product">New Product</a>
                </li>
            </ul>
        </div>
    </div>
</nav>